/* STICKERS */
.jawblia {
    position: absolute;
    top: 3rem;
    right: 1rem;
    transform: rotate(-3deg);
    transition: transform 0.35s;
  }
  
  .jawblia:hover{
    transform: rotate(-8deg);
  }
  
  .jawblia__back{
    fill: var(--forest-h);
   }
  
  .jawblia__text{
    stroke: var(--forest);
  }
  
  .jawblia__border{
     stroke: var(--forest);
  }
  
  .github{
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;
    transform: rotate(5deg);
    transition: transform 0.35s;
  }
  
  .github:hover{
    transform: rotate(0deg);
  }
  
  .github__back {
    fill: var(--purple-h);
  }
  
  .github__text {
    fill: var(--purple);
  }
  
  .skylight {
    position: absolute;
    top: 1rem;
    right: 10rem;
    z-index: 3;
    transition: transform 0.35s;
  }
  
  .skylight:hover{
    transform: rotate(-30deg);
  }
  
  .skylight__back {
    fill: var(--forest);
  }
  
  .skylight__text {
    fill: var(--green-h);
  }
  
  .skylight__sun {
    fill: var(--green-h);
  }