.App {
    padding: 1.5rem;
    background: var(--sand);
    min-height: 100vh;
    overflow: auto;
}

.component {
  background: var(--off-white); 
  border-radius: 1rem;
  padding: 3rem;
}

.component__demo {
  min-height: 20rem;
}

.codeblock {
  padding: 1rem;
  background: var(--body);
  border-radius: 0.5rem;
}

.color {
  border: 1px solid var(--bolightest);
}

.color__swatch {
  height: 5rem;
  width: 5rem;
}
